  <main style="margin-top: 68px;"> 
    <div class=" course-container  ">
      <div class="container">

        <h1 style="font-size: 3rem;">Courses</h1>
        <!-- Nav-->
          <form action=" " class="prod-search-form">
            <ul class="prod-col-list">
             <li class="products__collections-list-item mx-2  ho">
                  <a href="<%=src_all_path%>" class="list-cont" > All content</a>
                  
             </li>
             <li class="products__collections-list-item active mx-2">
              <a href="<%=src_certificates_path%>" class="list-cont"> Certification</a>
              
              <li class="products__collections-list-item mx-2">
               <a href="<%=src_courses_path%>" class="list-cont"> Courses</a>
             </li>
         </li>
         <li class="products__collections-list-item mx-2">
          <a href="<%=src_webinear_path%>" class="list-cont" class="list-cont"> Webinar</a>
          
     </li>
  </ul>
  <div class="product-search-box">
    <label for="" class="form-search">
      <input type="search" name="q" placeholder="Search" value="" class="form-control Search mr-sm-2" aria-label="Search">
    </label>
  </div>
</form>
<!-- Products -->
<p style="font-family: 'roboto';">
    No Products were found!!
</p>

<!-- Products -->

<!-- pagination -->

<!-- pagination -->


</div>
</div>
</main>