<footer class="footer">
    <div class="container">

      <div>
        <div class="row">
          <div class="col-sm-6">
            <ul>
              <li>
                <a href="" class="ho mr2"> Home</a>
              </li>
              <li>
                <a href="" class="ho mr2"> All Courses</a>
              </li>
              <li>
                <a href="" class="ho mr2"> Refund Policy</a>
              </li>
            </ul>
          </div>
          <div class="col-sm-6 text-end">
            <ul>
              <li>

                <a href="#!" role="button">
                  <i class="fab fa-facebook-square"></i>
                </a>
              </li>
              <li>
                <a href="#!" role="button">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#!" role="button">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>

        <hr>
        <div class="p-2" style="color: #4a90e2; font-family: roboto;
font-size: 0.875rem;">
          © Copyright ConsenSys 2020

        </div>


      </div>
    </div>
  </footer>